#top-section, footer {
    margin: 0 auto;
    width:100%;

}
#main-section, #footer-container {
    max-width: 1420px;
    margin: 0 auto;
    width:100%;
}

footer {
    background-color:darken(grey,20%);
    color: white;
    padding: 30px;
    height: 200px;
    
    #footer-restaurant-name {
        font-family: $font-logo;
        font-size: 22px;
        margin-bottom: 20px;
    }
    
    nav ul li{
        padding-bottom:10px;
        
        > .footer-icon i {
            width: 25px;
        }

        & a {
            color:white;
            cursor: pointer;
        }
    }
}