//SPINNER

.spinner-container {
    @include flex;
    position: fixed;
    z-index: 999;

    width: 100%;
    height: 100vh;

    background: $form-color;
    border: 3px solid transparent;
    animation: hide-spinner 3s forwards;
    opacity: 0.9;

    .spinner {
        position: absolute;
        height: 100px;
        width: 100px;

        border: 3px solid transparent;
        border-top-color: $primary-color;
        border-radius: 50%;
        animation: show-spinner 2s linear infinite;

        &:before,
        &:after {
            content: '';
            position: absolute;
            border: 3px solid transparent;
            border-radius: 50%;
        }

        //grand arc de cercle
        &:before {
            border-top-color: $secondary-color;
            @include position(-12px);
            animation: show-spinner 3s linear infinite;
        }

        //petit arc de cercle
        &:after {
            border-top-color: $tertiary-color;
            @include position(6px);
            animation: show-spinner 4s linear infinite;
        }
    }
}

@keyframes show-spinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes hide-spinner {
    0% {
        opacity: 0.9;
        height: 100vh;
    }
    
    90% {
        opacity: 0.9;
        height: 100vh;
    }
    
    95% {
        opacity: 0.95;
        height: 100vh;
    }
    
    100% {
        opacity: 0;
        height: 0;
    }
}


//HEADER
header {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid $shadow-color;
    padding: 0px 20px;
}

.back {
    @include flex(row, left);

    & i {
        font-size: 28px;
        color: lighten(#000000, 30%);
    }
}

#logo {
    @include flex;
    padding: 20px auto;
    height: 60px;
    width: 100%;

    & img {
        width: 150px;
    }
}

//BOUTONS BICOLORES
.btn-degrade {
    position: relative;
    z-index: 1;
    display: block;
    cursor: pointer;

    width: 60%;
    margin: 0 auto;
    padding: 15px;

    @include btn-degrade-color;
    @include btn--shadow($shadow-color);

    &:hover {
        &::after {
            opacity: 1;
        }
    }

    &::after {
        content: "";
        position: absolute;
        @include position(0px);
        z-index: -1;
        opacity: 0;
        @include btn-degrade-color;
        filter: brightness(1.2);

        transform: opacity 250ms;
    }
}

//COEURS
.heart {
    @include flex(column, center, center, 0);
    position: relative;
    height: 32px;
    width: 32px;

    .heart-empty {
        height: 100%;
        width: 100%;
        position: absolute;
        @include flex;
        z-index: 3;
        color:black;

        & i {
            font-size: 30px;
        }

        &:hover+.heart-blanc {
            height: 0%;
        }
    }

    .heart-blanc {
        background-color: white;
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: 2;
        top: 0;
        transition: all .5s;

        &.form {
            background-color: $form-color;
        }
    }


    .heart-full {
        height: 100%;
        width: 100%;
        position: absolute;
        @include flex;
        z-index: 1;

        & i {
            font-size: 30px;
            @include icon-color;
        }
    }
}