//HEADER
header {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid $shadow-color;
    padding: 0px 20px;
}
.back {
    @include flex(row, left);
    & i {
        font-size: 28px;
        color: lighten(#000000, 30%);
    }
}

#logo  {
    @include flex;
    padding: 20px auto;
    height: 60px;
    width: 100%;
    & img {
        width: 150px;
    }
}

//BOUTONS BICOLORES
.btn-degrade {
    display: block;
    cursor: pointer;
    @include btn-degrade-color;
    @include btn--shadow($shadow-color);
    
    &:hover {
        filter: brightness(1.2);
        @include btn--shadow(rgb(90, 90, 90));
    }
}

//COEURS
.heart {
    @include flex(column, center, center, 0);
    position: relative;
    height: 32px;
    width: 32px;

    .heart-empty {
        height: 100%;
        width: 100%;
        position: absolute;
        @include flex;
        z-index: 3;

        & i {
            font-size: 30px;
        }

        &:hover+.heart-blanc {
            height: 0%;
        }
    }

    .heart-blanc {
        background-color: white;
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: 2;
        top: 0;
        transform: height;
        transition: all .5s;
        
        &.form {
            background-color: $form-color;
        }
    }


    .heart-full {
        height: 100%;
        width: 100%;
        position: absolute;
        @include flex;
        z-index: 1;

        & i {
            font-size: 30px;
            @include icon-color;
        }
    }
}
