//PAGE ACCUEIL
#top-section {
    
    @include flex(column, center, center, 16px) ;
    text-align: center;
    padding-bottom: 60px;
    margin-bottom: 40px;
    background-color: $form-color;
    
    &-container {
        @include flex(row, center,center,2px);
        width: 100%;
        height: 55px;
        background-color: rgb(234, 234, 234);
        margin-bottom: 30px;

        & input {
            width: 160px;
            padding-left: 10px;
            outline: none;
            border: none;
            background-color: transparent;
            text-align: left;
        }
    };
    h1 {
        margin: 0 5%;
    }

    p{
        margin: 10px 5%;
    }    

}

.main-section-container {
    padding: 10px 20px;
    margin-bottom: 30px;   
    width: 100%; 
}

#function-items {
    margin: 30px 10px 30px 15px;
    @include flex (column);
    
    .function-item {

        @include flex(row,left,center);
        
        margin: 0 auto;
        padding:10px 20px;
        
        position: relative;
        width: 100%;
        height: 80px;

        background-color: $form-color;
        border-radius: 20px;
        
        @include btn--shadow;
        
        .function-number {
            @include flex;
        
            position: absolute;
            left: 0;
            top: 0;   
            transform: translate(-50%, 25px);
            
            width:30px;
            height: 30px;
            
            margin: 0px auto;
            
            background-color: $primary-color;
            border-radius: 50px;
            
            >p {
                color: white;
                font-size: 14px;
                text-align: center;
                font-weight: 400;
            }
        }
        
        .function-btn {
            @include flex(row, left, center, 16px);
            cursor: pointer;
            
            height: 50px;
            width: 100%;
            margin-left: 20px;
        
            &-label {
                @include flex;
            }
            
            &-icon{
                font-size: 25px;
                color: grey;
                width: 30px;
            }
        }

        &:hover {
            background-color:lighten($primary-color,30%);
            @include btn--shadow(darken($shadow-color, 50%));
            & .function-btn-icon {
                color:$primary-color;
                
            }
        }   
    }
        
}

#meal-items {
    margin: 30px 0px;
    @include flex(column,center, center,32px);


    .meal-item {
        @include flex(column, center, center, 0px);
        background-color:white;
        border-radius: 20px;
        margin: 0 auto;
        width: 100%;
        @include btn--shadow($shadow-color);
        
        & a{ 
            width: 100%;
        }

        .restaurant-img {
            position: relative;
            width: 100%;
            height:250px;
            
            //bouton nouveau
            > .restaurant-btnnew {
                top: 0;
                right: 0;
                position: absolute;
                z-index: 900;
                transform: translate(-20%,50%);
                background-color: $tertiary-color;
                @include btn--shadow($shadow-color);
                
                padding: 6px 12px;
                border: none;
                outline: none;
                border-radius: 5px;
                
                color: darken($tertiary-color,35%);
                font-weight: 700;
            }

            //design survol bouton nouveau
            > .restaurant-btnnew:hover{
                cursor: pointer;
                filter: brightness(1.2);
                @include btn--shadow(darken($shadow-color,50%));
            }
        }
    
        & img {
            object-fit: cover;
            width: 100%;
            height:100%;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
        }
        
        .restaurant-infos {
            @include flex(row, space-between);
            width: 100%;
            padding: 10px 20px;
            position: relative;
            
            > .restaurant-name>h3 {
                margin-bottom: 5px;
                color: black;
            }

            > .restaurant-name>p {
                font-size: 1rem;
                font-weight: 300;
            }
            
            > .restaurant-favori {
                @include flex;
                font-size:25px;
            }
            
            
        }
    }
}

//SPINNER
.spinner-container {
    @include flex;
    position: fixed;
    z-index: 999;

    width: 100%;
    height: 100vh;

    background: $form-color;
    border: 3px solid transparent;
    animation: hide-spinner 2s forwards;
    opacity: 0.9;

    .spinner {
        position: absolute;
        height: 100px;
        width: 100px;

        border: 3px solid transparent;
        border-top-color: $primary-color;
        border-radius: 50%;
        animation: show-spinner 2s linear infinite;

        &:before,
        &:after {
            content: '';
            position: absolute;
            border: 3px solid transparent;
            border-radius: 50%;
        }

        //grand arc de cercle
        &:before {
            border-top-color: $secondary-color;
            @include position(-12px);
            animation: show-spinner 3s linear infinite;
        }

        //petit arc de cercle
        &:after {
            border-top-color: $tertiary-color;
            @include position(6px);
            animation: show-spinner 4s linear infinite;
        }
    }
}

@keyframes show-spinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes hide-spinner {
    0% {
        opacity: 0.9;
        height: 100vh;
    }
    
    90% {
        opacity: 0.9;
        height: 100vh;
    }
    
    95% {
        opacity: 0.95;
        height: 100vh;
    }
    
    100% {
        opacity: 0;
        height: 0;
    }
}

@media screen  and (min-width:768px) and (max-width: 1240px) {

    #meal-items  {
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        width:100%;

        .meal-item {
            width: 47%;
            margin: 0;

        }
    }

}

@media screen  and (min-width:1240px) {

    #meal-items  {
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        width:100%;

        .meal-item {
            width: 22%;
            margin: 0;

        }
    }

}