// PAGE RESTAURANT
#main-section {
    @include flex(column, center, center, 0px);

    #restaurant-img {

        // compenser la border du header visible dans le menu
        transform: translateY(-2px);

        &>img {
            width: 100%;
            object-fit: cover;
        }
    }
}

form {
    background-color: $form-color;
    width: 100%;
    padding: 15px 20px 60px;

    border-top-left-radius: 40px;
    border-top-right-radius: 40px;

    margin-top: -40px;
    z-index: 9;

}

#restaurant-name {
    @include flex(row, space-between);

    &>h1 {
        font-family: $font-logo;
    }
}



.restaurant-container {
    margin-bottom: 30px;

    .meal-type {

        animation: fadein 1000ms;
    }

    .restaurant-item:nth-child(1) {
        animation: fadein 2000ms;
    }

    .restaurant-item:nth-child(2) {
        animation: fadein 3000ms;
    }

    .restaurant-item:nth-child(3) {
        animation: fadein 4000ms;
    }






    h2 {
        text-transform: uppercase;
        font-weight: 300;
        font-size: 18px;
        padding: 5px 0;
        margin: 10px 0 0px;
    }

    //ligne sous les catégories du menu
    hr {
        border: none;
        border-top: 3px solid $tertiary-color;
        height: 5px;
        margin-bottom: 10px;
        width: 50px;
    }
}

.restaurant-items {

    @include flex(column, center, center, 16px);

    .restaurant-item {
        position: relative;

        cursor: pointer;
        @include flex(row, space-between, center, 0px);
        @include btn--shadow;

        background-color: white;
        border-radius: 10px;

        height: 60px;
        width: 100%;
        margin: 0;


        .meal-left {
            @include flex(column, space-around, flex-start, 5px);
            padding: 14px;
            width: 80%;
            max-width: 344px;
            white-space: nowrap;
        }

        .meal {
            @include flex(row, space-between, center, 0);
            height: 60px;
            width: 100%;
            transition: width 200ms;

            & h3 {
                color: black;
                padding-bottom: 0px;
                width: 100%;
                text-overflow: ellipsis;
                overflow: hidden;
            }

            & p {
                font-size: 0.95rem;
                width: 100%;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            &:hover {
                width: 90%;
            }

            &:hover+.check {
                @include flex(row, center, center, 0);
                transform: translateX();
                background-color: lighten(#2c9c81, 35%);
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
                width: 15%;

                &>i {
                    background-color: white;
                    color: lighten(#2c9c81, 40%);
                    border-radius: 25px;
                    width: 20px;
                    animation: rotate-check 300ms;
                }
            }
        }

        .price {
            cursor: pointer;
            color: #000000;
            font-size: 0.95rem;
            font-weight: 600;

            text-align: center;
            line-height: 74px;
            width: 20%;
            height: 100%;
            padding-bottom: 14px;


        }

        .check {
            @include flex;
            width: 0px;
            height: 100%;
            transition: width 200ms;

            & i {
                color: transparent;
                text-align: center;
                line-height: 20px;
                margin: 0 auto;
                width: 20px;
                height: 20px;
            }
        }
    }

}

//animation rotation du check de menu
@keyframes rotate-check {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(90deg);
    }

    50% {
        transform: rotate(180deg);
    }

    75% {
        transform: rotate(270deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

//animation fondu de chaque menu
@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}