@mixin position ($position-number:0) {
    top:$position-number;
    bottom:$position-number;
    left:$position-number;
    right:$position-number;
}

@mixin icon-color {
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    background-image:$degrade-color;
}

@mixin flex ($direction: row, $justify: center, $align: center,$gap:20px) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    gap:$gap;
}

@mixin grid {
    display: grid;
}

@mixin btn--shadow ($color: $shadow-color) {
    box-shadow: 0px 5px 10px $color;
}

@mixin btn-degrade-color {
    color: white;
    background: $degrade-color;
    border: none;
    outline: none;
    border-radius: 50px;
}