$primary-color:#9356DC;
$secondary-color: #FF79DA; 
$tertiary-color:#99E2D0;
$back-color:rgb(240, 240, 240);
$font-color: rgb(83, 83, 83);

$font-logo:"Shrikhand";
$font-text:"Roboto";

@mixin flex {
    display:flex; 
    justify-content:center;
    align-items: center;
};
@mixin flex-left {
    display:flex; 
    justify-content:left;
    align-items: center;
};

@mixin flex-column {
    display:flex; 
    flex-direction: column;
    justify-content:center;
    align-items: center;
};

@mixin grid {
    display: grid;
    gap: 32px;
    //à voir pour desktop
    //grid-template-columns: repeat(3,200px); 
}

@mixin working-btn--shadow ($color:rgb(234, 234, 234)){
    box-shadow: 0px 5px 10px $color;
}


