$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$back-color: rgb(240, 240, 240);
$font-color: rgb(83, 83, 83);
$form-color:  rgb(246, 246, 246);
$degrade-color:linear-gradient(#FF79DA, #9356DC);
$font-logo: "Shrikhand";
$font-text: "Roboto";
$shadow-color:rgb(200, 200, 200);