$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$back-color: rgb(240, 240, 240);
$font-color: rgb(83, 83, 83);
$form-color:  rgb(246, 246, 246);
$degrade-color:linear-gradient(#FF79DA, #9356DC);
$font-logo: "Shrikhand";
$font-text: "Roboto";
$shadow-color:rgb(200, 200, 200);


@mixin icon-color {
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    background-image:$degrade-color;
}

@mixin flex ($direction: row, $justify: center, $align: center,$gap:20px) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    gap:$gap;
}

@mixin grid {
    display: grid;
    //à voir pour desktop
    //grid-template-columns: repeat(3,200px); 
}

@mixin btn--shadow ($color: rgb(234, 234, 234)) {
    box-shadow: 0px 5px 10px $color;
}

@mixin btn-degrade-color {
    
    width: 60%;

    color: white;

    background: $degrade-color;
    border: none;
    outline: none;

    margin: 0 auto;
    padding: 15px;

    border-radius: 50px;
}